.navbar {
    position: fixed;
    top: 1rem;
    left: 1rem;
    height: 80px;
}

.navbarMenuList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbarMenuList li {
    display: inline;
    margin: 1rem;
    font-size: 1.25rem;
}

.navbarMenuLink {
    color: #4D4C7D
}
